<!DOCTYPE html>
<html>
<head>
    <title>View Students</title>
</head>
<body>
    <h1>Students</h1>
    <table border="1px" width="50%">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Department</th>
                <th>Phone Number</th>
                <th>Age</th>
                <th>Address</th>
                {% if user.is_superuser %}
                <th>Actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
            <tr>
                <td>{{ student.first_name }}</td>
                <td>{{ student.last_name }}</td>
                <td>{{ student.email }}</td>
                <td>{{ student.department.Department_name }}</td>
                <td>{{ student.phone_number }}</td>
                <td>{{ student.age }}</td>
                <td>{{ student.address }}</td>
                {% if user.is_superuser %}
                <td><a  href="/approve/{{student.id}}"><button  {% if student.user.is_active %}disabled{% endif %}>{% if student.user.is_active %}Approved{% endif %}{% if not student.user.is_active %}Approve{% endif %}</button></a><a href="/disapprove/{{student.id}}"><button {% if not student.user.is_active %}disabled{% endif %}>{% if student.user.is_active %}Disapprove{% endif %}{% if not student.user.is_active %}Disapproved{% endif %}</button></a></td>
                {% endif %}
            </tr>
            {% endfor %}
            
        </tbody>
        <a href="/home/"><button>Back</button></a>
    </table>
</body>
</html>
